/** entrypoint for your custom scss **/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);/******************************
    Greyscale colours
*******************************/
.dp-greyscale-1000 {
  color: #2b2f2f; }

.dp-greyscale-950 {
  color: #323636; }

.dp-greyscale-900 {
  color: #3a3c3d; }

.dp-greyscale-850 {
  color: #4c4f50; }

.dp-greyscale-800 {
  color: #535657; }

.dp-greyscale-750 {
  color: #646869; }

.dp-greyscale-700 {
  color: #707576; }

.dp-greyscale-650 {
  color: #747a7b; }

.dp-greyscale-600 {
  color: #7f8383; }

.dp-greyscale-550 {
  color: #878d8f; }

.dp-greyscale-500 {
  color: #8c9295; }

.dp-greyscale-450 {
  color: #aab0b1; }

.dp-greyscale-400 {
  color: #c0c4c4; }

.dp-greyscale-350 {
  color: #cacece; }

.dp-greyscale-300 {
  color: #d4d7d8; }

.dp-greyscale-250 {
  color: #e3e3e3; }

.dp-greyscale-200 {
  color: #ebecec; }

.dp-greyscale-150 {
  color: #f4f5f5; }

.dp-greyscale-100 {
  color: #fcfcfc; }

.dp-greyscale-50 {
  color: #ffffff; }

.dp-night-sky {
  color: #28323c; }

.dp-cloudy-sky {
  color: #f0fafa; }

.dp-morning-sky {
  color: #f3faff; }

.dp-bright-sky {
  color: #fdfeff; }

.dp-knuckles-secondary {
  color: #f16071; }

.dp-knuckles-primary {
  color: #ed4954; }

.dp-knuckles-tertiary {
  color: #dc3b4f; }

.dp-knuckles-midnight {
  color: #aa2222; }

.dp-sonic-secondary {
  color: #59a8e2; }

.dp-sonic-primary {
  color: #4696dc; }

.dp-sonic-tertiary {
  color: #3c90ce; }

.dp-sonic-midnight {
  color: #3c82b4; }

.dp-emerald-secondary {
  color: #54c66a; }

.dp-emerald-primary {
  color: #47bf61; }

.dp-emerald-tertiary {
  color: #42b257; }

.dp-emerald-midnight {
  color: #459b51; }

.dp-tails-primary {
  color: #fbb03b; }

/******************************
    Greyscale colours
*******************************/
/** normalize **/
html.deskpro-sidebar {
  height: inherit;
  line-height: normal;
  color: #4c4f50;
  margin: 0;
  padding: 0; }

/** globals **/
.deskpro-sidebar body {
  height: inherit;
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  margin: 0;
  padding: 0; }

.deskpro-sidebar .label, .deskpro-sidebar .app-body .ui.form .field > label {
  font-size: 10px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: #707576; }

.deskpro-sidebar .subheading, .deskpro-sidebar .app-body .ui.header {
  font-weight: 600;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: #707576; }

.deskpro-sidebar .heading {
  font-weight: 600;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: #4c4f50; }

.deskpro-sidebar .text, .deskpro-sidebar html.deskpro-sidebar, .deskpro-sidebar body, .deskpro-sidebar a, .deskpro-sidebar p, .deskpro-sidebar .ui.container, .deskpro-sidebar .app-body .ui.form .field {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #4c4f50; }
.deskpro-sidebar .text.small, .deskpro-sidebar html.small.deskpro-sidebar, .deskpro-sidebar body.small, .deskpro-sidebar a.small, .deskpro-sidebar p.small, .deskpro-sidebar .small.ui.container, .deskpro-sidebar .app-body .ui.form .small.field {
  font-size: 10px;
  font-weight: 400; }

.deskpro-sidebar .ui.container {
  margin: 10px !important; }

.deskpro-sidebar .app-body .ui.input input {
  font-family: "Open Sans", sans-serif; }

/** app menu **/
.deskpro-sidebar .deskpro-app .app-menu {
  /* all menu items */
  /** app option */
  /** app title **/ }
.deskpro-sidebar .deskpro-app .app-menu.ui.menu {
  font-size: inherit;
  min-height: initial; }
.deskpro-sidebar .deskpro-app .app-menu .app-header {
  padding: 8px !important; }
.deskpro-sidebar .deskpro-app .app-menu .item.big {
  font-size: 14px; }
.deskpro-sidebar .deskpro-app .app-menu .ui.header {
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin: 0; }
.deskpro-sidebar .deskpro-app .app-menu .ui.header .content {
  padding-left: 8px; }
.deskpro-sidebar .deskpro-app .app-menu .ui.header .ui.icon {
  font-size: 16px;
  line-height: 16px;
  padding: 0;
  width: 16px;
  height: 16px; }
.deskpro-sidebar .deskpro-app .app-menu .ui.header .ui.icon > img {
  width: 16px;
  height: 16px; }

/* app menu header text */
.deskpro-sidebar .deskpro-app .app-menu {
  /** app options icons */ }
.deskpro-sidebar .deskpro-app .app-menu .app-header .content {
  color: #4c4f50; }
.deskpro-sidebar .deskpro-app .app-menu .app-option {
  color: #4c4f50; }
.deskpro-sidebar .deskpro-app .app-menu.ui.menu .menu > .item {
  color: #aab0b1; }

/** body layout **/
.deskpro-sidebar .deskpro-app .app-body {
  /* layout section divider */ }
.deskpro-sidebar .deskpro-app .app-body.ui.segment {
  padding-left: 10px !important;
  padding-right: 10px !important; }
.deskpro-sidebar .deskpro-app .app-body .ui.header {
  margin: 0;
  padding: 0; }
.deskpro-sidebar .deskpro-app .app-body .ui.header.dividing {
  margin: 0 0 6px;
  padding: 0 0 4px;
  border-bottom-color: #cacece; }
.deskpro-sidebar .deskpro-app .app-body .ui.segment {
  padding: 0; }
.deskpro-sidebar .deskpro-app .app-body .ui.button {
  padding: 6px;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #4c4f50; }
.deskpro-sidebar .deskpro-app .app-body .ui.button:hover {
  box-shadow: 0 0 0 1px #4696dc inset !important; }
.deskpro-sidebar .deskpro-app .app-body .ui.button.primary {
  background-color: #4696dc;
  color: white; }
.deskpro-sidebar .deskpro-app .app-body .ui.form .field > label {
  padding: 0;
  margin: 0 0 6px; }
.deskpro-sidebar .deskpro-app .app-body .ui.form .field {
  margin-bottom: 12px; }
.deskpro-sidebar .deskpro-app .app-body .ui.form select, .deskpro-sidebar .deskpro-app .app-body .ui.form textarea {
  font-size: 12px;
  font-weight: 400;
  padding: 7px; }
.deskpro-sidebar .deskpro-app .app-body .ui.form input:not([type]), .deskpro-sidebar .deskpro-app .app-body .ui.form input[type="date"], .deskpro-sidebar .deskpro-app .app-body .ui.form input[type="datetime-local"], .deskpro-sidebar .deskpro-app .app-body .ui.form input[type="email"], .deskpro-sidebar .deskpro-app .app-body .ui.form input[type="number"], .deskpro-sidebar .deskpro-app .app-body .ui.form input[type="password"], .deskpro-sidebar .deskpro-app .app-body .ui.form input[type="search"], .deskpro-sidebar .deskpro-app .app-body .ui.form input[type="tel"], .deskpro-sidebar .deskpro-app .app-body .ui.form input[type="time"], .deskpro-sidebar .deskpro-app .app-body .ui.form input[type="text"], .deskpro-sidebar .deskpro-app .app-body .ui.form input[type="url"] {
  font-size: 12px;
  font-weight: 400;
  padding: 7px; }
.deskpro-sidebar .deskpro-app .app-body .ui.divider:not(.horizontal) {
  margin: 0 0 0.5rem; }

/** body colors **/
.deskpro-sidebar .deskpro-app .app-body .ui.form select,
.deskpro-sidebar .deskpro-app .app-body .ui.form input,
.deskpro-sidebar .deskpro-app .app-body .ui.form textarea {
  color: #4c4f50; }

.deskpro-sidebar .deskpro-app .app-body .ui.form select:focus,
.deskpro-sidebar .deskpro-app .app-body .ui.form input:focus,
.deskpro-sidebar .deskpro-app .app-body .ui.form textarea:focus {
  border-color: #4696dc; }

.deskpro-sidebar .deskpro-app .app-body .ui.form select:hover,
.deskpro-sidebar .deskpro-app .app-body .ui.form input:hover,
.deskpro-sidebar .deskpro-app .app-body .ui.form textarea:hover {
  border-color: #4696dc; }

/******************************
    Greyscale colours
*******************************/
.trelloapp-card-list .options-multiple .options-hint {
  position: absolute;
  z-index: 2;
  right: -40px;
  top: 0;
  bottom: 0;
  width: 40px;
  box-shadow: 0 1px 0 0 #4696dc inset, -1px 0 0 0 #4696dc inset, 0 -1px 0 0 #4696dc inset, 1px 0 0 0 #4696dc inset;
  color: #323636;
  background-color: #FFFFFF;
  transition: all 0.25s ease-in; }
.trelloapp-card-list .options-multiple .options-hint:hover {
  background-color: #E9F7FF; }
.trelloapp-card-list .options-multiple .options-hint:hover ~ .options:not(:hover) {
  left: 80%; }

.trelloapp-card-list .options-multiple .options {
  position: absolute;
  z-index: 4;
  left: 100%;
  top: 0;
  bottom: 0;
  margin-left: 5px;
  margin-top: 5px;
  width: 40px;
  transition: all 0.25s ease-in; }
.trelloapp-card-list .options-multiple .options:hover {
  left: 80%; }
.trelloapp-card-list .options-multiple .options nav {
  border: solid 1px #4696dc;
  border-right-width: 0;
  box-shadow: -1px 0 0 0 #4696dc inset;
  /* right */
  border-radius: 0.285714rem;
  background-color: white; }

.trelloapp-card-list .options nav {
  position: absolute;
  padding: 0.25em; }
.trelloapp-card-list .options nav i.option {
  color: #c0c4c4;
  display: block;
  text-align: left;
  margin-bottom: 0.25em; }
.trelloapp-card-list .options nav i.option:last-child {
  margin-bottom: 0; }
.trelloapp-card-list .options nav i.option:hover {
  color: #4696dc; }

.trelloapp-card-list .options-single {
  position: absolute;
  z-index: 2;
  right: -40px;
  top: 0;
  bottom: 0;
  width: 40px;
  box-shadow: 0 1px 0 0 #4696dc inset, -1px 0 0 0 #4696dc inset, 0 -1px 0 0 #4696dc inset, 1px 0 0 0 #4696dc inset;
  color: #323636;
  background-color: #FFFFFF;
  transition: all 0.25s ease-in; }
.trelloapp-card-list .options-single:hover {
  background-color: #E9F7FF; }

.trelloapp-card-list {
  position: relative;
  border-radius: 0.285714rem;
  border: solid 1px #dedede;
  box-shadow: 0 1px 0 0 transparent inset, -1px 0 0 0 transparent inset, 0 -1px 0 0 transparent inset, 1px 0 0 0 transparent inset; }
.trelloapp-card-list:hover {
  box-shadow: 0 1px 0 0 #4696dc inset, -1px 0 0 0 #4696dc inset, 0 -1px 0 0 #4696dc inset, 1px 0 0 0 #4696dc inset; }

.trelloapp-card-list .trelloapp-card-list-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 0 0 transparent inset, -1px 0 0 0 transparent inset, 0 -1px 0 0 #CCCCCC inset, 1px 0 0 0 transparent inset; }
.trelloapp-card-list .trelloapp-card-list-item:last-child {
  box-shadow: 0 1px 0 0 transparent inset, -1px 0 0 0 transparent inset, 0 -1px 0 0 transparent inset, 1px 0 0 0 transparent inset; }
.trelloapp-card-list .trelloapp-card-list-item:hover {
  box-shadow: 0 1px 0 0 #4696dc inset, -1px 0 0 0 #4696dc inset, 0 -1px 0 0 #4696dc inset, 1px 0 0 0 #4696dc inset; }
.trelloapp-card-list .trelloapp-card-list-item:hover .options-multiple .options-hint {
  right: 0; }
.trelloapp-card-list .trelloapp-card-list-item:hover .options-single {
  right: 0; }
.trelloapp-card-list .trelloapp-card-list-item .content {
  padding-left: 0.5em; }
.trelloapp-card-list .trelloapp-card-list-item .content .card-title {
  color: #323636; }
.trelloapp-card-list .trelloapp-card-list-item .content .card-title, .trelloapp-card-list .trelloapp-card-list-item .content .board-name, .trelloapp-card-list .trelloapp-card-list-item .content .list-name {
  border: 0;
  padding: 0; }
.trelloapp-card-list .trelloapp-card-list-item .content .list-name {
  max-width: 50px; }
.trelloapp-card-list .trelloapp-card-list-item .content:hover {
  box-shadow: 0 1px 0 0 #4696dc inset, -1px 0 0 0 transparent inset, 0 -1px 0 0 #4696dc inset, 1px 0 0 0 transparent inset;
  background-color: #E9F7FF; }
.trelloapp-card-list .trelloapp-card-list-item .content:hover .card-title, .trelloapp-card-list .trelloapp-card-list-item .content:hover .board-name, .trelloapp-card-list .trelloapp-card-list-item .content:hover .list-name, .trelloapp-card-list .trelloapp-card-list-item .content:hover .content {
  color: #4696dc; }
.trelloapp-card-list .trelloapp-card-list-item .content span.long-content {
  display: inline-block;
  overflow: hidden;
  width: 95%;
  white-space: nowrap;
  text-overflow: ellipsis; }

.trelloapp-card-list.borderless {
  border: none; }
.trelloapp-card-list.borderless:hover {
  box-shadow: none; }

.trelloapp-card-list.borderless .options-hint {
  box-shadow: 0 1px 0 0 #4696dc inset, 0 -1px 0 0 #4696dc inset, 1px 0 0 0 #4696dc inset; }

.trelloapp-card-list.borderless .trelloapp-card-list-item:hover {
  box-shadow: 0 1px 0 0 #4696dc inset, -1px 0 0 0 transparent inset, 0 -1px 0 0 #4696dc inset, 1px 0 0 0 transparent inset; }

.trelloapp-card-list .trelloapp-card-list-item.link {
  cursor: pointer; }
